<nav>
    <% if(currentUser) {%>
        <form action="/">
            <input type="submit" value="Home">
        </form>
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out">
        </form>
        <% } else { %>
            <form action="/">
                <input type="submit" value="Home">
            </form>
            <form action="/users/new">
                <input type="submit" value="Register">
            </form>
            <form action="/sessions/new">
                <input type="submit" value="Login">
            </form>
            <% } %>
</nav>