<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    <h1>Category Index</h1>
    <form action="/">
        <input type="submit" value="Back" />
    </form>
    <% category.forEach( category => { %> 
        <a href="/category/<%=category._id; %>">
        <h3><%= category.category %> </h3>
    </a>
        <% }) %> 
        <form action="/category/new-category">
            <input type="submit" value="Add Category" />
        </form>
        <%- include('../partials/footer.ejs') %>
</body>

</html>