<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <form action="javascript:history.back()">
        <input type="submit" value="Back" />
    </form>
    <%- include('./partials/banner.ejs') %>
    <h2>Add a New Category</h2>
    <form action="/forum/<%=catID%>" method="POST">
        <label for="name">Category name: </label>
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>
    <%- include('../partials/footer.ejs') %>
</body>
</html>