
<!DOCTYPE html>
<html lang="en">

	<%- include('../partials/head.ejs') %>

<body>
	<%- include('../partials/nav.ejs')  %>
	<%- include('../partials/banner.ejs') %>
	<h1>Register</h1>
	<form action='/users' method='POST'>
		<label for="username">Username:</label>
		<input type="text" name="username" id="username" />

		<label for="password">Password:</label>
		<input type="password" name="password" id="password" />
		<input type="submit" value="Register">
	</form>
	<%- include('../partials/footer.ejs') %>
</body>

</html>